@use 'styles/utils/mixins' as m;

.form {
  @include m.card-styles;

  padding: 2.5rem 2rem;

  .inputContainer {
    position: relative;

    .input {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid var(--light-grey);
      border-radius: 0.375rem;

      &.error {
        border-color: var(--color-error);
      }
    }

    .errorText {
      position: absolute;
      top: calc(100% + 0.5rem);
      left: 0%;
      color: var(--color-error);
    }
  }
}
